.idea/







Bacodo/Frontend/.idea/
Bacodo/Frontend/staticfiles
Bacodo/Frontend/media/static/images/products
Bacodo/Frontend/shop/__pycache__
Bacodo/Frontend/products/migrations/__pycache__
Bacodo/Frontend/products/__pycache__
Bacodo/Frontend/pages/migrations/__pycache__
Bacodo/Frontend/pages/__pycache__
Bacodo/Frontend/db/__pycache__
Bacodo/Frontend/dashboard/migrations/__pycache__
Bacodo/Frontend/dashboard/__pycache__
Bacodo/Frontend/catalog/migrations/__pycache__
Bacodo/Frontend/catalog/__pycache__



Bacodo/Backend/.idea/
Bacodo/Backend/backend/__pycache__
Bacodo/Backend/menu/migrations/__pycache__
Bacodo/Backend/db/__pycache__
Bacodo/Backend/db/migrations/__pycache__
Bacodo/Backend/myaccounts/__pycache__
Bacodo/Backend/myaccounts/migrations/__pycache__