.idea/
Bacodo/Backend/.idea/
Bacodo/Frontend/.idea/
Bacodo/Frontend/db/__pycache__/
Bacodo/Frontend/products/__pycache__/
Bacodo/Frontend/pages/__pycache__/
Bacodo/Frontend/catalog/__pycache__/
Bacodo/Frontend/dashboard/__pycache__/
Bacodo/Frontend/media/static/


