.idea/
Admin/Backend/.idea/
Admin/Backend/db/__pycache__/
Admin/Backend/menu/__pycache__/
Admin/Backend/myaccounts/__pycache__/
Admin/Frontend/.idea/
Admin/Frontend/db/__pycache__/
Admin/Frontend/products/__pycache__/
Admin/Frontend/pages/__pycache__/
Admin/Frontend/catalog/__pycache__/
Admin/Frontend/dashboard/__pycache__/


